h1 {
    
    text-align: center;
}

.container {
    justify-content: center;
}

#form-group {
    align-items: center;

}

#btn {
    margin-top: 20px;
}

#generate {
    background-color: green;
    font-size: 30px;
    flex-direction: column;

}

textarea {
    border: dashed 1px;
}

#content {
    justify-content: center;
    align-items: center;
}
 